
# if you want to work you must move env.example to .env
DB_USER=your_mysql_user
DB_PASS=your_mysql_password
DB_NAME=your_mysql_database
BACKUP_PATH=/path/to/backup/directory
REMOTE_SERVER_ADDRESS=192.168.44.10
REMOTE_PATH=/path/to/remote/backup/directory
REMOTE_SERVER_USER=remote_server_user
